[Unit]
Description=procs exporter
After=network.target

[Service]
Type=simple
User=longfengpili
ExecStart=/home/longfengpili/procs/procs_exporter.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
